

<%- include('../partials/header.ejs')  %>
<link rel='stylesheet' href='/Content/tracker_global.css' />
<link rel='stylesheet' href='/Content/tracker_edit_page.css' />
</head>
<body>

<%- include('../partials/main_nav.ejs') %>
<div class="container">
 
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for ="nameTextField">Name</label>
                    <input type="Text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the user name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for ="genderTextField">Gender</label>
                    <input type="Text" class="form-control"
                    id="genderTextField"
                    placeholder="Enter user gender"
                    name="gender" required>
                </div>
                

                <div class="form-group">
                    <label for ="ageTextField">Age</label>
                    <input type="Number" class="form-control"
                    id="ageTextField"
                    placeholder="Enter user age"
                    name="age" required>
                </div>
                <div class="form-group">
                    <label for ="heightTextField">height</label>
                    <input type="Number" class="form-control"
                    id="heightTextField"
                    placeholder="Enter user height"
                    name="height" required>
                </div>
                <div class="form-group">
                    <label for ="weightTextField">Weight</label>
                    <input type="Number" class="form-control"
                    id="weightTextField"
                    placeholder="Enter user weight"
                    name="weight" required>
                </div>
                <div class="form-group">
                    <label for ="weight_goalTextField">Weight goal</label>
                    <input type="Number" class="form-control"
                    id="weight_goalTextField"
                    placeholder="Enter user weight goal"
                    name="weight_goal" required>
                </div>
                <br>
                <button class="btn btn-light" type="submit">
                    <i class="fas fa-edit"></i>Submit
                </button>
                <a href="/tracker-list" class="btn btn-danger">
                    <i class="fas fa-undo"></i>Cancel</a>
                </form>
                
  
</div>


</div>
<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>