
<%- include('../partials/header.ejs')  %>
<link rel='stylesheet' href='/Content/index.css' />
</head>
<body>
<%- include('../partials/main_nav.ejs') %>

<main class="container">
    <div class="row">
         <div class="col-md-11">
            <h1><%=title %></h1>
            <a href="tracker-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Gym User
            </a>
            <br>
            <br>
    <table class="table table-bordered table-striped table-hover">
    <tr class="d-flex">

         <th class="text-center col-2">Name</th>
         <th class="text-center col-2">Gender</th>
         <th class="text-center col-1">Age</th>
         <th class="text-center col-1">Height</th>
         <th class="text-center col-1">Weight</th>
         <th class="text-center col-1">Weight Goal</th>
         <th class="text-center col-1"></th>
         <th class="text-center col-2"></th>
    </tr>
    <% for ( let count=0; count<Trackerlist.length; count++){ %>
        <tr class="d-flex">
            <td class="text-center col-2"><%= Trackerlist[count].name %></td>
            <td class="text-center col-2"><%= Trackerlist[count].gender %></td>
            <td class="text-center col-1"><%= Trackerlist[count].age %></td>
            <td class="text-center col-1"><%= Trackerlist[count].height %></td>
            <td class="text-center col-1"><%= Trackerlist[count].weight %></td>
            <td class="text-center col-1"><%= Trackerlist[count].weight_goal %></td>
            <td class="text-center col-1">
                <a href="/tracker-list/edit/<%=Trackerlist[count]._id %>"
                    class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>Edit</a>
            </td>
            <td class="text-center col-2">
                <a href="/tracker-list/delete/<%= Trackerlist[count]._id %>"
                    class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>Delete</a>
            </td>
           
        </tr>
    <% } %>
    </table>
   
</div>
</div>
   
 
</main>

 
<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>